@model HomeModel
@{
    ViewData["Title"] = "Home - My contact book with MVC by Anderson Guimarães";
}

<div class="text-center">
    <h1 class="display-4">My Contacts</h1>
    <p> Welcome, @Model.Nome <br/>
        You are logged in with <b>@Model.Email</b>
    </p>
</div>
